@model SubstationViewModel[]

@{
    ViewData["Title"] = "Настройка подстанции";
}

<table class="table table-bordered table-striped table-hover">
@foreach (var substation in Model)
{
    <tr>
            <td>@substation.Name</td>
            <td><a href="@Url.Action("Edit", "Substation", new { Id = substation.Id })" class="btn btn-primary">Настройка</a></td>
    </tr>
}
</table>
