@model DownloadLogViewModel

@{
    ViewData["Title"] = "Логи загрузки данных из почты";
}

@section Styles {
    <bundle name="wwwroot/bundles/css/downloadLog.bundle.css" />
}

@section Scripts {
    <bundle name="wwwroot/bundles/js/downloadLog.bundle.js" />
}

<form id="prognizer-download-log-form" prognizer-load-data-url="@Url.Action("GetLogs", "DownloadLog")">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <span asp-validation-for="DateTo" class="text-danger"></span>

    <div class="prognizer-download-log-filter">
        <div>
            <label asp-for="DateFrom" class="control-label"></label>
            <div>
                <input asp-for="DateFrom" class="form-control" type="date" />
            </div>
        </div>

        <div>
            <label asp-for="DateTo" class="control-label"></label>
            <div>
                <input asp-for="DateTo" class="form-control" type="date" />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-outline-primary">Применить</button>
        </div>

        <input asp-for="PageNumber" type="hidden" />
    </div>
</form>

<table id="prognizer-log-table" class="table table-bordered table-hover">
    <thead>
        <tr class="alert alert-secondary">
            <th class="text-center">Дата</th>
            <th class="text-center">Тип</th>
            <th class="text-center">Сообщение</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<nav>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Назад</a></li>
        @for (var pageNum = 1; pageNum <= 5; pageNum++)
    {
        <li class="page-item"><a class="page-link" href="#">@pageNum</a></li>
    }
        <li class="page-item"><a class="page-link" href="#">Вперёд</a></li>
    </ul>
</nav>
