#prognizer-date-selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.prognizer-table td, .prognizer-table th {
    padding: 2px 5px;
}

.prognizer-table th {
    text-align: center;
}

.prognizer-table td {
    text-align: center;
}

.prognizer-real-data {
    background-color: #f2fff3 !important;
}

.prognizer-prognozed-data {
    background-color: #ffe7e7 !important;
}
