@{
    var title = "Настройки";
    ViewData["Title"] = title;
}

<div>
    <a href="@Url.Action("Index", "ApplicationSettings")">Настройка приложения</a>
</div>
<div>
    <a href="@Url.Action("Index", "Substation")">Настройка подстанций</a>
</div>
